body {
  font-family: arial, sans-serif;
}

.navBar {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  cursor: pointer;
}

.navBar p a {
  font-size: 0.85rem;
  color: black;
  text-decoration: none;
}
.navBar p a:hover {
  text-decoration: underline;
}

.navBar img {
  width: 25px;
}

.main {
  /* border: 1px solid black; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.google_img {
  display: flex;
  align-items: center;
}

.google_img>img {
  /* margin-top: 100px; */
  width: 300px;
  margin-bottom: 38px;
}

.main_text {
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  width: 750px;
  height: 50px;
  box-shadow: 0px 0px 10px 0px #b6b6b6;
}

.main_text input {
  /* margin-top: 5px; */
  width: 100%;
  height: 100%;
  border: none;
  font-size: inherit;
  background-color: transparent;
  /* font-size: 1.2rem; */
  outline: none;
}

.main_text>img {
  margin: 20px 10px;
  cursor: pointer;
}

.main_text_icon {
  display: flex;
  align-items: center;
  margin: 20px 10px;
  margin-left: auto;
  gap: 15px;
  cursor: pointer;
}

.shortcut {
  width: 45px;
  height: 45px;
  background-color: #d3e3fd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px ;
  cursor: pointer;
}

.shortcut p {
  font-size: 24px;
  cursor: pointer;
}
.text {
  font-size: 0.85rem;
  margin-top: 10px;
}

@media (max-width : 900px){
  .main_text {
    width: 561px;
  }
}
@media (max-width : 650px){
  .main_text {
    width: 450px;
  }
}
@media (max-width : 550px){
  .main_text {
    width: 300px;
  }
}